<div id='post-container'>
  <% if !@posts.nil? %>
    <% @posts.sort_by(&:votes).reverse.each do |post| %>
      <% if post.flag %>
        <div class="post-card" style="background-color: #f4ecbe;">
      <% else %>
        <div class="post-card">
      <% end %>
        <div class="poster-info">
          <div class="poster-avatar">
            <% if post.user.facebook_picture_url %>
              <% avatar_url = post.user.facebook_picture_url %>
              <%= image_tag avatar_url, class: "avatar-large" %>
            <% else %>
              <div class="default-avatar background-default" >
                <p class="default-avatar-color"><%= post.user.first_name[0].capitalize %></p>
              </div>
            <% end %>
          </div>
          <div class="poster-details">
            <p><strong><%= post.user.full_name %></strong></p>
            <p><%= post.created_at %></p>
          </div>
        </div>
        <div class="post-content">
          <p><%= post.content %></p>
        </div>
        <div class="post-actions">
          <!-- Flag post as correct, useful, or important -->
          <% if ['admin', 'curator'].include?(current_user.role) || current_user == post.user %>
            <%= link_to(book_conversation_post_flag_path(@book, @conversation, post), remote: true) do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          <% end %>

          <!-- Upvote post -->
          <%= post.votes.to_i %>
          <%= link_to(book_conversation_post_upvote_path(@book, @conversation, post), remote: true) do %>
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          <% end %>

          <!-- Edit or delete post -->
          <% if ['admin', 'curator'].include?(current_user.role) || current_user == post.user %>
             <%= link_to "Edit", book_conversation_posts_path(@book, @conversation, post_id: post.id) , remote: true %> |
             <%= link_to 'Delete', book_conversation_post_path(@book, @conversation, post),
              method: :delete, remote: true, data: {confirm: "Are you sure you want to delete this post?"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- TODO: Leave in, this is for thread deletion -->
  <%#= render "/posts/form", locals: {post: @post, book: @book, conversation: @conversation} %>
  <%# if @conversation.user == current_user || ['admin', 'curator'].include?(current_user.role) %>
    <%#= link_to "Delete this thread", book_conversation_path(@book, @conversation), method: :delete,
        data: {confirm: "Are you sure you want to delete this thread? Other users could no longer learn from it!" } %>
  <%# end %>
<!--   <div class="btn btn-primary" id='new-post-btn'>New Post</div> -->
</div>
