<div class="platform">
	<div class="row">
		<div class="col-md-8 book-content">
			<p id="text" spellcheck="false"><%= @book.content %></p>
		</div>
		<div class="col-md-4 conversation" id='sidebar'>
			<div class="threads-container">
				<span class="glyphicon glyphicon-minus inline" id="convo-glyph"></span><h2 id ="conversations-clickable">Conversations</h2>
				<%= render "/books/sidebar/conversations" %>	
			</div>
			<div class="posts-container">
				<span class="glyphicon glyphicon-plus inline" id="post-glyph"></span><h2 id="post-clickable">Posts</h2>
				<div id="posts">
				
				</div>
			</div>
			<%#= render "/books/sidebar/posts" %>
			<%#= render "/posts/form" %>
  			<%#= render "/books/sidebar/posts" %>

		</div>
	</div>
</div>


<% content_for :javascript do %>
  <script type="text/javascript">


     $(document).ready(function(){
 			
     	    $("a.threads").click(function(){
		        $('#conversation-container').slideUp("slow");
		        $("#convo-glyph").removeClass('glyphicon glyphicon-minus');
		        $("#convo-glyph").addClass('glyphicon glyphicon-plus');

			});
			$('#conversations-clickable').click(function() {
				/* Act on the event */
				$('#conversation-container').slideToggle("slow");

			    if ($('#conversation-container').is(":visible"))
				    {
				         $('#convo-glyph').toggleClass('glyphicon glyphicon-plus');
				         $('#convo-glyph').toggleClass('glyphicon glyphicon-minus'); 

				    }
				    else
				    { 
				         $('#convo-glyph').toggleClass('glyphicon glyphicon-plus'); 
				         $('#convo-glyph').toggleClass('glyphicon glyphicon-minus'); 
				    }
			});
			$('#post-clickable').click(function() {
				/* Act on the event */
				$('#post-container').slideToggle("slow");

			    if ($('#post-container').is(":visible"))
				    {
				         $('#post-glyph').toggleClass('glyphicon glyphicon-plus');
				         $('#post-glyph').toggleClass('glyphicon glyphicon-minus'); 

				    }
				    else
				    { 
				         $('#post-glyph').toggleClass('glyphicon glyphicon-plus'); 
				         $('#post-glyph').toggleClass('glyphicon glyphicon-minus'); 
				    }
			});
			
			

		 $(document).bind('keypress',pressed);
		    var userSelection;
		    if (window.getSelection) {
		        userSelection = window.getSelection();
		    }
		    else if (document.selection) { // should come last; Opera!
		        userSelection = document.selection.createRange();
		    }
		 //    function wrapSelectedText() {
			//     var userSelection= window.getSelection().getRangeAt(0);
			//     var selectedText = userSelection.extractContents();
			//     var div= document.createElement("div");
			//     div.style.backgroundColor = "yellow";
			//     div.appendChild(userSelection);
			//     selection.insertNode(div);
			// }
			hightlight=function()
			    {
			    var selection= window.getSelection().getRangeAt(0);
			    var selectedText = selection.extractContents();
			    var span= document.createElement("span");
			    span.style.backgroundColor = "yellow";
			    span.appendChild(selectedText);
			    selection.insertNode(span);

			    span.setAttribute("class", "hightlighted");
			    var start = ($('#text').text().search(selection));
			    start = parseInt(start);
			    var end = selection.toString().length + start;
			    end = parseInt(end);
			    var topic = selection.toString();
			    console.log(topic);
			    console.log(start);
			    console.log(end);
			    createThread(topic, start, end);
			    }

			createThread=function(topic, start_index, end_index){
				jQuery.ajax({
			      type: "POST",
			      url: "/books/<%= @book.id %>/conversations",
			      data: {  conversation: { topic: topic, start_index: start_index, end_index: end_index, user_id: "<%= current_user.id %>", book_id: "<%= @book.id %>" }},
			    //   success:function(data) {
			    //     alert(data.id)
			    //     return false
			    // }
			    //   error: function(data){
			    //     return false
			    // }
			    });
			}

		  function pressed(e)
		    {
		    if(e.keyCode === 13)
		    {

		        hightlight();

		    }
		}
		// 
		// function refreshPosts() {
		//   $.ajax({
		//
		//   });
		// }
		//
	  // $('#new-post-btn').click(function() {
	  //   refreshPosts();
	  // });

	});


  </script>

<% end %>
