<%= simple_form_for([@course, @enrollment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.label "Student Name" %>
    <%= f.input :user_id, collection: @users, label_method: :full_name, value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Add student' %>
  </div>
<% end %>
