<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form">
            <h2>Curators for <%= @course.name %></h2>
            <ul>
              <% @course.curatorships.sort_by{|c| c.user.last_name}.each do |curatorship| %>
                <li class = "list-style-none">
                  <p>
                    <%= curatorship.user.full_name %> |
                    <%= link_to "Remove", course_curatorship_path(@course, curatorship), method: :delete,
                        data: {confirm: "Are you sure you want to remove this curator?"}, class: "link-no-style action" %>
                  </p>
                </li>
              <% end %>
            </ul>
            <p>
              <%= link_to "Add a curator", new_course_curatorship_path(@course),
                  data: {confirm: "Are you sure you want to add a curator? They will share ownership rights with you."}, class: "link-no-style form-btn" %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form">
            <h2>Students for <%= @course.name %></h2>
            <ul>
              <% @course.enrollments.reject{|e| e.user.invite_not_accepted?}.sort_by{|e| e.user.last_name}.each do |enrollment| %>
                <li class = "list-style-none">
                  <p><%= enrollment.user.full_name %> |
                    <%= link_to "Remove", course_enrollment_path(@course, enrollment), method: :delete,
                        data: {confirm: "Are you sure you want to remove this student?"}, class: "link-no-style action" %>
                  </p>
                </li>
              <% end %>
            </ul>
            <p>
              <%= link_to "Add a student", course_invite_path(@course), class: "link-no-style form-btn" %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form">
        <h2>Edit Course Details</h2>
        <%= simple_form_for(@course), method: :patch do |f| %>
            <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :name %>
                
              </div>

              <div class="form-actions form-margin-top">
                <%= f.button :submit %>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%#= link_to 'Back', courses_path %>
