<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>

<h3>Curator List</h3>
<ul>
  <% @course.curators.each do |curator| %>
    <li>
      <p>
        <%= curator.full_name %>
        <%= link_to "| remove", new_course_curatorship_path(@course),
            data: {confirm: "Are you sure you want to remove this curator?"} %>
      </p>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Add a curator", new_course_curatorship_path(@course),
      data: {confirm: "Are you sure you want to add a curator? They will share ownership rights with you."} %>
</p>
<h3>Student List</h3>
<ul>
  <% @course.students.each do |student| %>
    <li>
      <p><%= student.full_name %>
        <%= link_to "| remove", new_course_enrollment_path(@course), method: :delete,
            data: {confirm: "Are you sure you want to remove this student?"} %>
      </p>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Add a stuent", new_course_enrollment_path(@course) %>
</p>
