<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>

<h3>Curator List</h3>
<ul>
  <% @course.curators.each do |curator| %>
    <li>
      <p><%= curator.full_name %></p>
    </li>
  <% end %>
</ul>
<%= link_to "Add a curator", new_course_curatorship_path(@course) %>
<h3>Student List</h3>
<ul>
  <% @course.students.each do |student| %>
    <li>
      <p><%= student.full_name %></p>
    </li>
  <% end %>
</ul>
<%= link_to "Add a student", new_course_enrollment_path(@course) %>
