<h1>Editing Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>

<h3>Curator List</h3>
<ul>
  <% @course.curatorships.each do |curatorship| %>
    <li>
      <p>
        <%= curatorship.user.full_name %>
        <%= link_to "| remove", course_curatorship_path(@course, curatorship), method: :delete,
            data: {confirm: "Are you sure you want to remove this curator?"} %>
      </p>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Add a curator", new_course_curatorship_path(@course),
      data: {confirm: "Are you sure you want to add a curator? They will share ownership rights with you."} %>
</p>
<h3>Student List</h3>
<ul>
  <% @course.enrollments.each do |enrollment| %>
    <li>
      <p><%= enrollment.user.full_name %>
        <%= link_to "| remove", course_enrollment_path(@course, enrollment), method: :delete,
            data: {confirm: "Are you sure you want to remove this student?"} %>
      </p>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Add a stuent", new_course_enrollment_path(@course) %>
</p>
