<p id="notice"><%= notice %></p>

<div class="container">

    <% @courses.each do |course| %>
     <div class="row">
        <div class="col-md-7 col-xs-12 course-card">
          <div class="row">
              <div class="col-md-4 col-xs-6">
                <div class="course-card-pic">
                  <%= image_tag "math" %>
                </div>
              </div>
               <div class="col-md-4 col-xs-6 col-md-offset-2">
                  <div class="course-card-information">
                    <h3>Instructor:</h3>
                      <ul>
                        <% course.curators.each do |curator| %>
                           <li><%= curator.first_name %> <%= curator.last_name %></li>
                        <% end %>
                     </ul>
                   <p><%= course.name %></p>
                   <% if current_user.role == 'admin' || course.curators.include?(current_user) %>
                     <%= link_to 'Edit', edit_course_path(course) %> |
                     <%= link_to 'Delete', course_path(course), method: :delete, data: {confirm:
                       "Are you sure? All books in this course and their respective discussions will be lost!"} %>
                       this course
                     <%= link_to "Add a book", new_course_book_path(course) %>
                   <% end %>
                 </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12 course-books btn btn-primary"ype="button" data-toggle="collapse" data-target="#books" aria-expanded="false" aria-controls="books">Books</div>

            </div>
            <div class="collapse" id="books">
                <% course.books.each do |book| %>
                <%= link_to book_path(book) do %>
                  <div class="book-card col-xs-6">
                    <div class="book-card-pic" style="background-image:
                           url(<%#= cl_image_path book.cover_photo, :default_image => "math.svg" %>
                                <%= image_path("math.svg") %>)";>
                    </div>
                    <div class="book-info">
                      <h2><%= book.title %></h2>
                      <p><%= book.author %></p>
                      <% if current_user.role == 'admin' || course.curators.include?(current_user) %>
                      <%= link_to 'Edit', edit_course_book_path(course, book) %> |
                      <%= link_to 'Delete', course_book_path(course, book), method: :delete, data: {confirm:
                        "Are you sure? All discussions in this book will be lost! Future users could no longer learn from this information!"} %>
                        this book
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                <% end %>
            </div>
        </div>
    </div>
  <% end %>
</div>

<div class="btn btn-warning"><%= link_to "Add a course", new_course_path %></div>
