<%= simple_form_for([@book, @conversation, @post], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.label "Comment" %>
    <%= f.input :content, as: :text, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Post comment', id: 'new-post-btn' %>
  </div>
<% end %>
