<div class="posts-form">
	<%= simple_form_for([@book, @conversation, @post], remote: true) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	  	<%= f.label "Comment" %>
	    <%= f.input :content, as: :text, label: false %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, value: "#{@post.persisted? ? 'Update' : 'Post'} comment", id: 'new-post-btn' %>
	  </div>
	<% end %>
	  <% if @conversation.user == current_user || ['admin', 'curator'].include?(current_user.role) %>
    <%= link_to "Delete this thread", book_conversation_path(@book, @conversation), method: :delete,
        data: {confirm: "Are you sure you want to delete this thread? Other users could no longer learn from it!" } %>
  <% end %>
</div>
