<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="change-profile-pic-container form">
            <div class="profile-pic-container">
              <% if current_user.facebook_picture_url %>
                <% avatar_url = current_user.facebook_picture_url %>
                <%= image_tag avatar_url, class: "avatar-xl" %>
              <% elsif current_user.avatar.url  %>
                <% avatar_url = current_user.avatar%>
                <%= image_tag avatar_url, class: "avatar-xl" %>
              <% else %>
                <div class="default-avatar-xl background-default">
                  <p><%= current_user.first_name[0].capitalize %></p>
                </div>
              <% end %>
            </div>
            <div class="profile-pic-data">
              <h2>Change Profile Picture</h2>
              <div>
                <%= simple_form_for(current_user, url: '/users') do |f| %>
                  <%= f.file_field :avatar %>
                  <%= f.hidden_field :avatar_cache %>
                  <%= f.submit "Change Avatar", class: "btn btn-default form-margin-top" %>
                <% end %>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="user-details form">
            <h2>Details:</h2>
            <ul>
              <!-- TODO: List current Courses -->
                <li class = "list-style-none padded-top">
                 <i class="fa fa-comments-o inline" aria-hidden="true"></i><p class="inline"> You've started <%= @user.conversations.count %> conversations</p>
                </li>
                <li class = "list-style-none padded-top">
                 <i class="fa fa-pencil-square-o inline" aria-hidden="true"></i> <p class=inline>You've posted <%= @user.posts.count %> <%= @user.posts.count == 1 ? "time" : "times" %></p> 
                </li>

             </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form">
        <div class="form-details">
        <h2>Edit Your Details</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update" %>
          </div>
        <% end %>
      </div>

        <h3 class = "padded-top">Unhappy? </h3>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "link-no-style" %>

      </div>
    </div>
  </div>

</div>
